<div class="card bg-white border-none">
  <div class="card-header font-weight-bold">
    <%= user.name %>
  </div>
  <div class="card-body p-4">
    <div class="form-group px-5">
      <table>
        <tr>
          <th>項目</th>
          <th>ユーザー情報</th>
        </tr>
        <tr>
          <td>ユーザーネーム</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>都道府県</td>
          <td><%= user.user_address %></td>
        </tr>
        <tr>
          <td>お気に入りチーム</td>
          <td><%= user.favorite_team %></td>
        </tr>
      </table>
      <div class="actions">
        <%= link_to "プロフィール編集", edit_user_registration_path(user.id), class: "card-button btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
