<div class="reviews">
  <div class="flexitem item1">
<<<<<<< HEAD
    <%= link_to event_path(event.id) do %>
      <%= image_tag event.image.url %>
    <% end %>
=======
    <%= image_tag event.image.url %>
>>>>>>> 0141768 (layout of page)
    <% if event.start_at.strftime('%m/%d') < Date.today.strftime('%m/%d') %>
      <div class="event-end">
        終了
      </div>
    <% elsif event.start_at.strftime('%m/%d') == Date.today.strftime('%m/%d') %>
      <div class="event-date">
        開催中
      </div>
    <% else %>
      <div class="event-start">
        開催前
      </div>
    <% end %>
  </div>
  <div class="flexitem item2">
    <div class="event-content-left">
      <h3>イベント開催日:<%= event.start_at.strftime('%Y/%m/%d') %></h3>
      <%= link_to event_path(event.id) do %>
        <span class="event-name"><%= event.name %></span>
      <% end %>
    </div>
    <div class="left-bottom">
      <span class="fas fa-user">
        <%= link_to event.user.name, user_path(event.user.id) %>
      </span>
      <span class="fas fa-futbol">
        <%= event.event_team %>
      </span>
    </div>
  </div>
  <div class="flexitem item3">
    <p>作成日:<%= event.created_at.strftime('%Y/%m/%d') %></p>
    <div class="event-content-rigth">
      <% if user_signed_in? %>
        <div id="likes_buttons_<%= event.id %>">
          <%= render 'likes/like', { event: event } %>
        </div>
      <% end %>
      定員数:<%= event.participations.count %>/<%= event.capacity %>人
    </div>
  </div>
</div>
