<%= search_form_for q, url: root_path do |f| %>
  <div class="field">
    <%= f.label :name, "イベント名" %><br/>
    <%= f.search_field :name_cont %>
  </div>

  <div class="field">
    <%= f.label :event_team, "イベントチーム" %><br/>
    <%= f.select :event_team_eq, FOOTBALL_TEAM.map{ |r| [r, r] } ,:prompt => "選択してください", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :address, "イベント住所" %><br/>
    <%= f.select :address_cont, TODOUFUKEN.map{ |r| [r, r] }, :prompt => "選択してください", class:"form-control" %>
  </div>

  <%= f.submit "検索" %>
<% end %>
