<% provide(:title, "#{ @event.event_name } edit") %>
<%= render "users/shared/error_messages", resource: @event %>
<%= form_with(model: @event, local: true) do |f| %>
  <div class="card bg-white border-none">
    <div class="card-header font-weight-bold">
      イベント詳細の編集
    </div>
    <%= render "event_form", {f: f} %>
  </div>
  <div class="card bg-white border-none">
    <div class="card-header font-weight-bold">
      イベント会場の編集
    </div>
    <%= render "event_form_map", {f: f, event: @event} %>
  </div>
  <div class="actions">
    <%= f.submit "イベントを作成する", class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
