<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-8">
    <%= render "event_search", { q: @q } %>
    <% if @events.any? %>
      <%= render @events, { event: @event} %>
    <% else %>
      <h3><%= "イベントがありません。" %></h3>
    <% end %>
    <div class="pagenate">
      <%= paginate @events %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render "football_info" %>
  </div>
</div>
