<% provide(:title, @event.event_name) %>
<p>イベント写真 <%= image_tag @event.image.url %> </p>
<p>イベント名 <%= @event.event_name %> </p>
<p>イベント説明 <%= @event.description %> </p>
<p>イベント住所 <%= @event.address %> </p>
<p>イベントのタイトル <%= @event.title %> </p>
<%= render "google_map_view" %>
<p>イベント開始日時 <%= @event.event_start_at %> </p>
<p>イベント終了日時 <%= @event.event_end_at %> </p>
<p>イベントチーム <%= @event.event_team %> </P>
<p>定員数 <%= @event.capacity %> <p>
<%= render 'likes/like', { event: @event } %>
<% if current_user?(@event.user) %>
  <%= link_to "イベント編集", edit_event_path(@event.id) %>
  <%= link_to "イベント削除", @event, method: :delete,
                data: { confirm: "You sure?" } %>
<% else %>
  <%= render 'participaton_event_form' %>
<% end %>
<p> <%= link_to "Homeに戻る", root_path %> </p>
