<% provide(:title, "Sign up") %>
<%= render "users/shared/error_messages", resource: resource %>
<div class="card bg-white border-none">
  <div class="card-header font-weight-bold">
    新規登録
  </div>
  <div class="card-body p-4">
    <div class="form-group px-5">
      <p>以下の項目を全て入力して「新規登録する」ボタンをクリックしてください。</p>
      <p>すでに会員登録をしている方は、<%= link_to "こちらからログインできます。", user_session_path %></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <table class="mt-5" border="1">
          <tr>
            <td>
              <p>ニックネーム</p>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <div class="field">
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>Eメール</p>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <p>半角英数字</p>
              <%= f.email_field :email, autocomplete: "email" %>
            </td>
          </tr>
          <tr>
            <td>
              <p>都道府県</p>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <%= f.select :user_address, TODOUFUKEN.map{ |r| [r, r] }, :prompt => "選択してください", class:"form-control" %>
            </td>
          </tr>
          <tr>
            <td>
              <p>お気に入りチーム</P>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <%= f.select :favorite_team, FOOTBALL_TEAM.map{ |r| [r, r] } ,:prompt => "選択してください", class:"form-control" %>
            </td>
          </tr>
          <tr>
            <td>
              <p>パスワード</P>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <p>半角英数字で6文字以上</p>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <td>
              <P>パスワード (確認)</p>
              <span class="must ml-2">必須</span>
            </td>
            <td>
              <p>半角英数字で6文字以上</p>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
        </table>
        <div class="actions">
          <button type="submit" class="card-button btn btn-danger btn-lg">新規登録する</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
